<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            LogIn
        </div>
        <div class="card-body">

            <form [formGroup]="loginForm" (ngSubmit)="registrarse()">

                <!-- EMAIL -->
                <div class="form-group">
                    <input type="email" placeholder="Email (*)" class="form-control mt-2" formControlName="email"
                    [ngClass]="{error:loginForm.get('email')!.hasError('required') && loginForm.get('email')!.dirty}"
                    >
                    <div *ngIf="loginForm.get('email')!.errors && loginForm.get('email')!.dirty">
                        <p *ngIf="loginForm.get('email')!.hasError('required')">El campo es obligatorio</p>
                    </div>
                </div>
                <!-- PASSWORD -->
                <div class="form-group">
                    <input type="text" placeholder="Password (*)" class="form-control mt-2" formControlName="password"
                    [ngClass]="{error:loginForm.get('password')!.hasError('required') && loginForm.get('password')!.dirty}"
                    >
                    <div *ngIf="loginForm.get('password')!.errors && loginForm.get('password')!.dirty">
                        <p *ngIf="loginForm.get('password')!.hasError('required')">El campo es obligatorio</p>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-2" [disabled]="loginForm.invalid">Send</button>
                </div>

            </form>

        </div>
    </div>
</div>